# Environment Variables (Secrets)
.env

# SQLite Database (Local State)
*.db
forum.db

# User Uploads
/uploads/

# Go Binaries & Build Outputs
/forum
*.exe
*.test
*.out

# OS/Editor specific
.DS_Store
.vscode/
.idea/